################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/packages
/ColorMixerSolution.sln.DotSettings
/ColorMixerSolution.sln.DotSettings.user
